/* style.css */

body {
    background-color: purple;
}

p {
    color: beige;
}

ol,
ul {
    color: beige
}

h1 {
    color: beige;
    font-weight: bold;
}

h2 {
    color: beige;
}

img {
    height: auto;
    width: 300px;
}